html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/bg.gif');
    background-size: cover;
    height: 100vh;
}

#title {
    font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 45px;
    margin: 0;
}

#subtitle {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.text {
    background-color: gold;
    padding: 5px;
    border: brown solid 5px;
}

#vs {
    color: red;
}

#scores {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#human img {
    height: 250px;
    display: block;
    margin: 0 auto;
}

#computer img {
    height: 250px;
    display: block;
    margin: 0 auto;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: goldenrod;
}

button:focus {
    outline: none;
}

 #human button:hover {
    color: brown;
    cursor: pointer;
}

#human-score, #com-score {
    color: orange;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
}
