html, body {
    margin: 0;
    padding: 0;
}

#bg {
    background-image: url('images/bg.gif');
    background-size: 100vw 65vh;
    background-repeat: no-repeat;
    height: 65vh;
}

#title {
    font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 45px;
    margin: 0;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.text {
    background-color: gold;
    padding: 5px;
    border: brown solid 5px;
}

#scores {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.grid-container {
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#human img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

#computer img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

button:focus {
    outline: none;
}

#rock:hover, #paper:hover, #scissors:hover {
    color: goldenrod;
    cursor: pointer;
}

#human-score, #com-score {
    color: oldlace;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
}

i {
    color: oldlace;
}

#com-choice {
    display: flex;
    justify-content: center;
}

#winner {
    background-color: black;
    height: 15vh;
}