body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/************************************************TOP NAV BAR*************************************************/
#top-nav {
    width: 100vw;
    height: 10vh;
}

#top-nav ul {
    float: right;
}

#top-nav li {
    list-style: none;
    float: left;
    margin-left: 1vw;
    margin-right: 1vw;
}

#top-nav li a {
    color: black;
    text-decoration: none;
}

#apps {
    height: 30px;
}

#user {
   height: 32px;
   width: 32px;
   border-radius: 50%;
}

#top-nav li a:hover {
    color: gray;
    text-decoration: underline;
}

/*************************************************GOOGLE LOGO**********************************/

#logo-section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logo {
    height: 150px;
    padding-top: 10vh;
}

/*************************************************SEARCH BAR*********************************/

form {
    display: flex;
    justify-content: center;
}

#search-icon {
    height: 25px;
    position: relative;
    left: 35px;
    top: 28px;
}

input[type=text] {
    text-indent: 10%;
    font-size: 15px;
    margin-top: 20px;
    height: 40px;
    width: 45vw;
    border: 0.5px solid lightgray;
    border-radius: 25px;  
}

input[type=text]:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

input[type=text]:focus {
    outline: none;
}

#mic-icon {
    height: 25px;
    position: relative;
    top: 30px;
    right: 35px;
}

/**********************************BUTTONS***************************************/

#buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    margin: 0 5px;
    border: 1px solid rgba(245, 245, 245, 1);
    background-color: rgba(245, 245, 245, 1);
    height: 35px;
    width: 130px;
}

button:hover {
    border: 1px solid rgba(220, 220, 220, 1);
    box-shadow: 0 0.1px 1px 0px rgba(32, 33, 36, 0.28);
}

button:focus {
    outline: none;
}

/******************************************BOTTOM NAV BAR************************************/
#bot-nav {
    width: 100vw;
    height: 8vh;
    position: absolute;
    bottom: 0;
    background-color: rgba(245, 245, 245, 1);
    border-top: 0.5px solid rgba(220, 220, 220, 1);
    border-bottom: 0.5px solid rgba(220, 220, 220, 1);
}

#bot-nav li {
    list-style: none;
    margin-left: 1vw;
    margin-right: 1vw;
}

#bot-nav li a {
    color: grey;
    text-decoration: none;
}

#bot-nav li a:hover {
    text-decoration: underline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

